<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Benchaholics</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet"  media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet"  media="screen,projection"/>
</head>

<body class = "backgroundImageHome">
	<nav class="orange" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{url_for('returnHome')}}" class="brand-logo">Benchaholics | Next Four Workouts</a>
    </div>
  </nav>
	<div class = "row "> 
		<!--Top 5-->
		<div class = "col s1"><h3> </h3></div>
		<div class = "col s4 center-align inputLogin marginTopTable orange">
			<h3>{{date}}</h3>
			<hr>
			<table class = "bordered centered">
				<tbody>
		          	{% for movement in lifts %} 
		          	<tr >
	       			 <td>{{movement}} : </td>
	       			 <td>{{setsReps[loop.index0]}}</td>
	       			</tr>
	       			{% endfor %}
	       		</tbody>
       		</table>
       		<h3>{{date1}}</h3>
			<hr>
			<table class = "bordered centered">
				<tbody>
		          	{% for movement in lifts1 %} 
		          	<tr >
	       			 <td>{{movement}} : </td>
	       			 <td>{{setsReps1[loop.index0]}}</td>
	       			</tr>
	       			{% endfor %}
	       		</tbody>
       		</table>
		</div>
		<div class = "col s2"><h3> </h3></div>
		<div class = "col s4 center-align inputLogin marginTopTable orange">
			<h3>{{date2}}</h3>
			<hr>
			<table class = "bordered centered">
				<tbody>
		          	{% for movement in lifts2 %} 
		          	<tr >
	       			 <td>{{movement}} : </td>
	       			 <td>{{setsReps2[loop.index0]}}</td>
	       			</tr>
	       			{% endfor %}
	       		</tbody>
       		</table>
       		<h3>{{date3}}</h3>
			<hr>
			<table class = "bordered centered">
				<tbody>
		          	{% for movement in lifts3 %} 
		          	<tr >
	       			 <td>{{movement}} : </td>
	       			 <td>{{setsReps3[loop.index0]}}</td>
	       			</tr>
	       			{% endfor %}
	       		</tbody>
       		</table>
		</div>
	</div>
</body>